<% layout('layouts/boilerplate') %>
<h1>Register</h1>
<form action="/register" novalidate method="POST" class="validatedForm">
    <div class="mb-3">
        <label for="username" class="form-label" for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label" for="email">E-mail</label>
        <input type="email" id="email" name="email" required class="form-control">
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" required class="form-control">
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <button class="btn btn-success">Register</div>
</form>